name: Build and Deploy to Maven Repository

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build and Deploy to Maven Repository
        uses: lunarstra/Quantum/.github/workflows/maven-build-deploy.yml@main
        with:
          java-version: '25'
          distribution: 'temurin'
          working-directory: '.'
          server-id: 'lunarstra-quantum'
          repository-url: 'https://maven.cnb.cool/lunarstra/Quantum/-/packages/'
          profile-id: 'lunarstra-quantum'
          skip-tests: 'true'